body {
    background-color: #d8cceb;
    border: 3px solid Black;
    border-radius: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 100px);
    min-width: 256px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

html {
    background: radial-gradient(circle, #a889d6, #9b74d4 50%, #752ad1 50%, #a889d6);
    background-size: 8px 8px;
}

nav {
    background-color: #a963ff;
    border: 4px solid black;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    margin-top: 16px;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

nav li, nav .hamburgermenu {
    background-color: #a963ff;
    display: block;
    padding: 16px 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    position: relative;
    float: left;
}

nav a {
    color: black;
    text-decoration: none;
}

nav li:hover {
    background-color: #be8aff;
    cursor: pointer;
}

.currentpage, .currentpageshort {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

nav .hamburgermenu {
    margin-top: -3px;
    display: none;
    font-family: inherit;
    user-select: none;
    -webkit-user-select: none;
}

nav .hamburgermenu:hover {
    background-color: #be8aff;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.dropdown {
    list-style-type: none;
    overflow: auto;
    right: 50px;
    position: fixed;
    z-index: 1;
    background-color: #a963ff;
    border: 4px solid black;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: bold;
    margin-top: 5px;
    height: auto;
    width: 180px;
    display: none;
    user-select: none;
    -webkit-user-select: none;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.dropdown li {
    background-color: #a963ff;
    display: block;
    padding: 16px 8px;
    text-decoration: none;
    text-align: center;
    color: black;
    position: relative;
}

.dropdown a {
    color: black;
    text-decoration: none;
}

.dropdown li:hover {
    background-color: #be8aff;
    cursor: pointer;
}

nav ul .currentpageshort {
    display: none;
}

@media screen and (max-width: 640px) {
    nav ul .navpage {
        display: none;
        padding: 0px;
    }

    nav ul .currentpage, nav ul .currentpageshort {
        display: block;
    }

    nav .hamburgermenu {
        float: right;
        display: block;
    }
}

@media screen and (min-width: 640px) {
    .dropdown {
        border: 0;
        width: 0;
        height: 0;
    }
}

input, button {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    border-radius: 5px;
    border-style: solid;
    border-color: #595959;
}
input:hover, input:focus, button:hover, button:focus {
    border-color: black;
}

.center {
    text-align: center;
    display: block;
}

.image {
    max-width: 100%;
    height: auto;
}

footer {
    font-size: 12px;
    text-align: center;
}

.link:hover, .link:focus {
    color: red;
}

.footerimageleft {
    position: fixed;
    bottom: 0;
    left: 0;
}
.footerimageright {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60%;
    max-width: 320px;
}
