@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

* {
    box-sizing: border-box;
}

:root {
    --light-purple: #d8cceb;
    --med-purple: #be8aff;
    --dark-purple: #a963ff;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-width: 225px;
    width: 100%;
    min-height: 100%;
    background-color: var(--light-purple);
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.content > * {
    margin: 10px 0;
}

a {
    transition: color 250ms ease-in-out;
}

a:hover {
    color: red;
}

/* nav bar */

nav {
    position: sticky;
    top: 0;
    background-color: var(--med-purple);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    user-select: none;
    z-index: 10000;
}

nav .title {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 10px;
    text-decoration: none;
}

nav .title .logo {
    height: 100%;
    width: auto;
}

nav .title .name {
    color: black;
    font-size: 1.5rem;
}

nav .menu {
    border: 0;
    background-color: inherit;
    font-size: 1.25rem !important;
    cursor: pointer;
    display: none;
}

nav .pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav .pages a, nav .menu {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding: 5px;
    border-radius: 8px;
    background-color: inherit;
    transition: background-color 250ms ease-in-out;
}

nav .pages a:hover, nav .pages a:focus-within,
nav .menu:hover, nav .menu:focus-within {
    background-color: var(--dark-purple);
}

nav .pages .current {
    text-decoration: underline;
    text-underline-offset: 3px;
}

@media screen and (max-width: 600px) {
    nav .pages {
        display: none;
        position: absolute;
        top: 65px;
        right: 20px;
        flex-direction: column;
        align-items: stretch;
        background-color: var(--med-purple);
        border: 3px solid black;
        border-radius: 10px;
        overflow: hidden;
        z-index: 100;
    }

    nav .pages.show {
        display: flex;
    }

    nav .pages a {
        border-radius: 0;
        padding: 12px 8px;
        margin: 0;
        width: 125px;
        text-align: center;
    }

    nav .pages .current {
        text-underline-offset: 1px;
    }

    nav .menu {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 460px) {
    nav .title .name {
        display: none;
    }
}

/* buttons */

button, input[type="submit"], input[type="reset"] {
    font-family: inherit;
    font-size: 1rem;
    background-color: var(--dark-purple);
    transition: background-color 250ms ease-in-out;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-weight: normal;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: var(--med-purple);
}

/* panda */

.panda {
    max-width: 100%;
    height: auto;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* form */

form > * {
    margin: 10px 0;
}

form div input[type="number"] {
    width: 10ch;
}

.result.hide {
    display: none;
}

input, textarea {
    font-family: inherit;
    border-color: black;
    border-radius: 4px;
}

input[type="radio"], label {
    cursor: pointer;
}

.input-unit {
    display: inline-block;
}

.input-unit input[type="number"] {
    margin: 0 2px;
}

/* footer */

footer {
    font-size: 0.75rem;
    text-align: center;
    margin-bottom: 20px;
}